      <!-- ########## footer section start ############ -->
      <footer>
        <ul class="f-icons">
          <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></a></i></li>
          <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="3"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
        </ul>
        <div>
          <h5 id="foot">Made with <i class="fas fa-heart"></i> by <span>SSIT IEEE SB</span></h5>
        </div>
      </footer>
    <!-- ########## footer section end ############ -->
    




<!-- ###### Bootstrap JS CDN ############ -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->

<!-- ############ Linked JavaScript ################ -->

<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js.map"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://www.csslab.cl/ejemplos/timelinr/latest/js/jquery.timelinr-0.9.54.js'></script>
<script src="js/script.js"></script>
<!-- Scroll Reveal JS linked -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- Vanilla titlt linked -->
<script type="text/javascript" src="js/vanilla-tilt.min.js"></script>

<!-- Vanilla titlt JS --------------- -->
<script>
VanillaTilt.init(document.querySelector(".h-card"), {
      max: 25,
  });
</script>

<!-- ######### navbar toggle collapes JS ############ -->
<script>
// navbar JS ----------------------
$('.nav-link').click(function(){
  $('.navbar-collapse').collapse('hide');
});
</script>

<!----------- Scroll Reveal JS ------------->
<script>
const sr = ScrollReveal({
  origin: 'top',
  distance: '80px',
  duration: 2000,
  reset: 'true'
})

// home section
sr.reveal('.h-l-text', {})
sr.reveal('.h-l-text i', { origin: 'right', opacity: 0, delay: 300 })
sr.reveal('.h-r-text', { delay: 600 })
sr.reveal('.profile', { origin: 'left', delay: 900, opacity: 0 })

// skills section
sr.reveal('.s-l-text', {})
sr.reveal('.s-bars', {delay: 300})

// hobbies section
sr.reveal('.h-card:nth-child(1)', { origin: 'bottom', delay: 600 })
sr.reveal('.h-card:nth-child(2)', { origin: 'bottom', delay: 800 })
sr.reveal('.h-card:nth-child(3)', { origin: 'bottom', delay: 1000 })

// language section
sr.reveal('.l-icons .row-1 i:nth-child(1)', { origin: 'bottom' })
sr.reveal('.l-icons .row-1 i:nth-child(2)', { origin: 'bottom', delay: 300 })
sr.reveal('.l-icons .row-1 i:nth-child(3)', { origin: 'bottom', delay: 600 })
sr.reveal('.l-icons .row-1 i:nth-child(4)', { origin: 'bottom', delay: 900 })

sr.reveal('.l-icons .row-2 i:nth-child(1)', { origin: 'bottom', delay: 1200 })
sr.reveal('.l-icons .row-2 i:nth-child(2)', { origin: 'bottom', delay: 1500 })
sr.reveal('.l-icons .row-2 i:nth-child(3)', { origin: 'bottom', delay: 1800 })
sr.reveal('.l-icons .row-2 i:nth-child(4)', { origin: 'bottom', delay: 2100 })
</script>
</body>
</html>