
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sucessfully Registered</title>
</head>
<body>
  <h2>Hello {{name}}, </h2>
  <h3 style="color: #000000;">Thank you for registering.The event is on 14th Oct 2022. </h3>
  <p>For more details contact us:</p>
  <p>Contact no: 1234567890</p>
  <p>Email ID: 1@2.com</p>
<p>
Regards, 
<br>
    SSIT-IEEE SB
</p>

</body>
</html>