<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Thank you</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <h3>You have successfully registered. The Event is on 14th of October. </h3>
  <p>Thank you for registering. </p>
  <p>For more information</p>
  <p>Contact</p>
  <p>phone: 8088073475</p>
  <p>phone: 9035146531</p>
  <p>email: ieeesbssit@gmail.com</p>
  <p>Regards,
    <br>
    SSIT-IEEE SB
  </p>

</body>
</html>