<%- include('partials/header') -%>
    <link rel="stylesheet" href="css/roadmap.css">
  	<div id="timeline">
		<ul id="dates">
			<li><a href="#1962" class="selected">1962</a></li>
			<li><a href="#1963">1963</a></li>
			<li><a href="#1975">1975</a></li>
			<li><a href="#1979">1979</a></li>
			<li><a href="#1980">1980</a></li>
			<li><a href="#1984">1984</a></li>
			<li><a href="#1993">1993</a></li>
			<li><a href="#2002">2002</a></li>
			<li><a href="#2008">2008</a></li>
			<li><a href="#2014">2014</a></li>
		</ul>
		<ul id="issues">
			<li id="1962" class="selected">
				<img src="/images/1962.jpeg" />
				<h1>1962</h1>
				<p>The Indian National Committee for Space Research is formed under the leadership of Vikram Sarabhai who is also known as father of India's space program and physicist Kalpathi Ramakrishna Ramanathan.</p>
			</li>
			<li id="1963">
				<img src="/images/1963.jpeg" />
				<h1>1963</h1>
				<p>The first sounding rocket is launched from Thumba Equatorial Rocket Launching Station in Kerala which is used for probing upper atmospheric regions and space research. It marks the beginning of the Indian space program.</p>
			</li>
			<li id="1975">
				<img src="/images/1975.jpeg" />
				<h1>1975</h1>
				<p>On 19 April, first Indian Satellite, Aryabhata was launched into space. It marked a milestone in India's space programme because it was completely designed in the country and launched from a Russian facility.</p>
			</li>
			<li id="1979">
				<img src="/images/1979.jpeg" />
				<h1>1979</h1>
				<p>The first experimental remote-sensing satellite which was built in India was launched namely Bhaskara-I. The images send by it are used to study hydrology and forestry and oceanographic studies.</p>
			</li>
			<li id="1980">
				<img src="/images/1980.jpeg" />
				<h1>1980</h1>
				<p>India's first experimental satellite vehicle was launched namely Satellite launch Vehicle-3 (SLV-3) which makes ISRO sixth nation in space program. SLV-3 launched second time with Rohini. The mission was successful.</p>
			</li>
			<li id="1984">
				<img src="/images/1984.jpeg" />
				<h1>1984</h1>
				<p>A joint manned mission of India and Soviet Union has been launched. In this mission the first Indian cosmonaut, Rakesh Sharma, spends eight days in Russian space station Salyut 7.</p>
			</li>
			<li id="1993">
				<img src="/images/1993.jpeg" />
				<h1>1993</h1>
				<p>PSLV carried out its first mission and its first successful mission was held in next year. No doubt for next 20 years, it launched several satellites for historic missions like Chandrayaan and Mangalyaan.</p>
			</li>
			<li id="2002">
				<img src="/images/2002.jpeg" />
				<h1>2002</h1>
				<p>Kalpana-1 a satellite was renamed by the Indian Prime Minister Atal Bihari Vajpayee in memory of Kalpana Chawla—an Indian born NASA astronaut who perished in the Space Shuttle Columbia disaster.</p>
			</li>
			<li id="2008">
				<img src="/images/2008.jpeg" />
				<h1>2008</h1>
				<p>India's Chandrayaan-1 first moon mission was launched by PSLV. Almost a decade ago, India's first unmanned lunar probe was launched and was a landmark in India's space mission.</p>
			</li>
			<li id="2014">
				<img src="/images/2014.jpeg" />
				<h1>2014</h1>
				<p>India's first interplanetary mission to the planet Mars known as Mars Orbiter mission (MOM) was launched. MOM entered Mars orbit. India became the first country in the world to insert a spacecraft into the Martian orbit in its very first attempt.</p>
			</li>
		</ul>
		<div id="grad_top"></div>
		<div id="grad_bottom"></div>
		<a href="#" id="next">+</a>
		<a href="#" id="prev">-</a>
	</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://www.csslab.cl/ejemplos/timelinr/latest/js/jquery.timelinr-0.9.54.js'></script>
<script src="js/script.js"></script>
</body>
</html>
