<%- include('partials/header') %>
<link rel="stylesheet" href="/css/style.css">
<div class="timeline-container" id="timeline-1">
  <div class="timeline-header">
    <h2 class="timeline-header__title">ISRO Timeline</h2>
    <h3 class="timeline-header__subtitle">Presented By SSIT IEEE SB</h3>
  </div>
  <div class="timeline">
    <div class="timeline-item" data-text="1962">
      <div class="timeline__content"><img class="timeline__img" src="/images/1962.jpeg"/>
        <h2 class="timeline__content-title">1962</h2>
        <p class="timeline__content-desc">The Indian National Committee for Space Research is formed under the leadership of Vikram Sarabhai who is also known as father of India's space program and physicist Kalpathi Ramakrishna Ramanathan.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="1963">
      <div class="timeline__content"><img class="timeline__img" src="/images/1963.jpeg"/>
        <h2 class="timeline__content-title">1963</h2>
        <p class="timeline__content-desc">The first sounding rocket is launched from Thumba Equatorial Rocket Launching Station in Kerala which is used for probing upper atmospheric regions and space research. It marks the beginning of the Indian space program.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="1975">
      <div class="timeline__content"><img class="timeline__img" src="/images/1975.jpeg"/>
        <h2 class="timeline__content-title">1975</h2>
        <p class="timeline__content-desc">On 19 April, first Indian Satellite, Aryabhata was launched into space. It marked a milestone in India's space programme because it was completely designed in the country and launched from a Russian facility.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="1979">
      <div class="timeline__content"><img class="timeline__img" src="/images/1979.jpeg"/>
        <h2 class="timeline__content-title">1979</h2>
        <p class="timeline__content-desc">The first experimental remote-sensing satellite which was built in India was launched namely Bhaskara-I. The images send by it are used to study hydrology and forestry and oceanographic studies.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="1980">
      <div class="timeline__content"><img class="timeline__img" src="/images/1980.jpeg"/>
        <h2 class="timeline__content-title">1980</h2>
        <p class="timeline__content-desc">India's first experimental satellite vehicle was launched namely Satellite launch Vehicle-3 (SLV-3) which makes ISRO sixth nation in space program. SLV-3 launched second time with Rohini. The mission was successful.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="1984">
      <div class="timeline__content"><img class="timeline__img" src="/images/1984.jpeg"/>
        <h2 class="timeline__content-title">1984</h2>
        <p class="timeline__content-desc">A joint manned mission of India and Soviet Union has been launched. In this mission the first Indian cosmonaut, Rakesh Sharma, spends eight days in Russian space station Salyut 7.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="1993">
      <div class="timeline__content"><img class="timeline__img" src="/images/1993.jpeg"/>
        <h2 class="timeline__content-title">1993</h2>
        <p class="timeline__content-desc">PSLV carried out its first mission and its first successful mission was held in next year. No doubt for next 20 years, it launched several satellites for historic missions like Chandrayaan and Mangalyaan.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="2002">
      <div class="timeline__content"><img class="timeline__img" src="/images/2002.jpeg"/>
        <h2 class="timeline__content-title">2002</h2>
        <p class="timeline__content-desc">
          On April 23, 1920, the GrandNational Assembly was inaugurated. Mustafa Kemal Pasha was elected to its Presidency.
          Fighting on many fronts, he led his forces to victory against rebels and invadingarmies. Following the Turkish triumph at the two major battles at Inonu in Western Turkey,the Grand National Assembly conferred on Mustafa Kemal Pasha the title ofCommander-in-Chief with the rank of Marshal.
        </p>
      </div>
    </div>
    <div class="timeline-item" data-text="2008">
      <div class="timeline__content"><img class="timeline__img" src="/images/2008.jpeg"/>
        <h2 class="timeline__content-title">2008</h2>
        <p class="timeline__content-desc">India's Chandrayaan-1 first moon mission was launched by PSLV. Almost a decade ago, India's first unmanned lunar probe was launched and was a landmark in India's space mission.</p>
      </div>
    </div>
    <div class="timeline-item" data-text="2014">
      <div class="timeline__content"><img class="timeline__img" src="/images/2014.jpeg"/>
        <h2 class="timeline__content-title">2014</h2>
        <p class="timeline__content-desc">India's first interplanetary mission to the planet Mars known as Mars Orbiter mission (MOM) was launched. MOM entered Mars orbit. India became the first country in the world to insert a spacecraft into the Martian orbit in its very first attempt.</p>
      </div>
    </div>

  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<%- include('partials/footer') %>